<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

<app-header-patparvm [patparvmMyData]="patparvmPersonal"></app-header-patparvm>

<mat-tab-group mat-stretch-tabs class="example-stretched-tabs mat-elevation-z4" [ngStyle]="{textAlign: 'center'}">
 
  <mat-tab>
    <ng-template mat-tab-label>
      My Book List - Parv Patel &nbsp;

      <span class="material-icons">
        library_books
      </span>

    </ng-template>

    <app-books-patparvm [myBooks991718111]="patparvmBooks"></app-books-patparvm>
  </mat-tab>

  <mat-tab>
    <ng-template mat-tab-label>
      Campus Info - Parv Patel &nbsp;

      <span class="material-icons">
        school
      </span>
      
    </ng-template>

    <app-campus-patparvm [campusData991718111]="patparvmCampus"></app-campus-patparvm>
  </mat-tab>
</mat-tab-group>

<app-footer-patparvm [patparvmMyData]="patparvmPersonal"></app-footer-patparvm>